*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #111;
    color: white;
    font-family: "Gill Sans MT";
}

#page1{
    height: 100vh;
    width: 100%;
    padding-top: 180px;
    position: relative;
}

#page2{
    height: 100vh;
    width: 100%;
}

.svg{
    background-color: #111111;
    color: white;
    width: 9vw;
}

#nav{

    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 0;
    padding: 1.5vw 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

    background-color: #111111;
    z-index: 9999;
}

#c{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav a{
    font-size: .8vw;
    letter-spacing: 0px;
    color: white;
    text-decoration: none;
}

#nav a:hover{
    color: #404040;
}


#button{
    background-color: #0DA34E;
    padding: 1vw 1vw;
    border-radius: 5vw;
    gap: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#part2{
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4.5vw;
    border-bottom: .1vw solid white;
    transition: all ease 0.65s;
    background-color: #111;
    width: 87%;
    height: 0%;
    bottom: 0%;
}

#nav:hover #part2{
    height: 100%;
    bottom: -100%;
}

.pa2{
    margin-top: -6px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;

}

#nav:hover .pa2{
    opacity: 1;
    transition: all ease 4s;
}

#part2 a{
    font-size: .8.5vw;
}

#bbottam{
    width: 100%;
    height: .1vw;
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.svg1{
    width: 6vw;
    background-color: #0A823E;
    border-radius: 50%;
    /*margin: -5px;*/
}

#h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 120px;
    letter-spacing: .1px;
}

#h1 h1{
    font-size: 8vw;
}

#h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0 0 0;
}

#h2 h1{
    font-size: 1.5vw;
    font-weight: lighter;
}

.h2b{
    display: inline;
    border: 1px solid #a6a4a4;
    border-radius: 50px;
    padding: .2vw .5vw;
    font-weight: lighter;
}

#moving-div{
    width: 44%;
    position: absolute;
    bottom: 5%;
    left: 28%;
    white-space: nowrap;
    overflow: hidden;
}

#moving-div .move{
    display: inline-block;
    animation-name: mobe;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 1vw;
}

#moving-div .move img{
    height: 1.2vw;
    margin: 0 1vw;
}

@keyframes mobe {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

#blur-left{
    background: linear-gradient(to right, #111, transparent);
    height: 100%;
    width: 20%;
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
}

#blur-right{
    background: linear-gradient(to right, transparent, #111);
    height: 100%;
    width: 20%;
    top: 0;
    right: 0;
    z-index: 2;
    position: absolute;
}

#page2{
    border-top: 1px solid #a2a1a1;
    margin-top: 10vw;
    padding: 1vw 6vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
    height: 70vh;
}

#left #sp{
    width: 26vw;
    font-size: 1.4vw;
}

#right{
    height: 70vh;
    width: 50%;
}

.insight{
    cursor: pointer;
    gap: 15vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 20vh;
    border-top: 1px solid #8c8989;
    padding-top: 3vh;
}

.insight:hover{
    border-top: 2px solid white;
}

.insight h1{
    font-size: 1.6vw;
    font-weight: 100;
    width: 150%;
}

.insight h5{
    font-size: .8vw;
    opacity: .6;
    width: 50%;
}

#circle{
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    opacity: 0;
    overflow: hidden;
}

#circle1{
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    opacity: 0;
    overflow: hidden;
}

#circle2{
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    opacity: 0;
    overflow: hidden;
}

#circle3{
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    opacity: 0;
    overflow: hidden;
}

#circle img{
    object-fit: cover;
    object-position: center;
}

#circle1 img{
    object-fit: cover;
    object-position: center;
}

#circle2 img{
    object-fit: cover;
    object-position: center;
}

#circle3 img{
    object-fit: cover;
    object-position: center;
}

#page3{
    height: 100vh;
    width: 100%;
    position: relative;
}

#page3 img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

#page3 svg{
    height: 10vw;
    width: 10vw;
    position: absolute;
    top: 40%;
    left: 45%;
    cursor: pointer;
}

#page3 video{
    z-index: 9;
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    scale: 0;
}

#show{
    position: absolute;
    top: 65%;
    left: 44.5%;
    background-color: white;
    color: black;
    padding: .6vw;
    border-radius: 20px;
    opacity: 0;
}

#page4{
    height: 100vh;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 6vw;
}

#left1{
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 3vw;
    font-weight: 600;
}

#right1{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#right1 h4{
    font-weight: 200;
    font-size: 1vw;
    opacity: .6;
}

#right1 h1{
    font-weight: 200;
    font-size: 1.8vw;
}

#page5{
    display: grid;
    grid-template-columns:28vw 28vw 28vw;
    grid-template-rows:40vh 40vh;
    grid-gap: 1vw;
    padding-left: 7vw;
    background-color: white;
}

#item5{
    background-color: rgb(230, 230, 234);
    display: flex;
    flex-direction: column;
    color: black;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5vw;
}

#item5 h1{
    font-size: 5vw;
    font-weight: 500;
}

#item5 p{
    font-size: 1vw;
    margin-bottom: 2vw;
}

.A{
    margin-top: 2vw;
    color: #8c8989;
}

#page6{
    height: 80vh;
    width: 100% ;
    background-color: white;
    color: black;
    position: relative;
}

#wrap{
    position: absolute;
    top: 40%;
    left: 30%;
}

#wrap p{
    font-size: 2.5vw;
    padding-right: 3vw;
}

#wleft{
    float: left;
    height: 7vh;
    width: 15vw;
}

#page7{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6vw;
    height: 70vh;
    padding: 0 7vw;
    background-color: white;
    color: black;
}

#nodol{
    width: 20vw;
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border-top: 1px solid rgb(42, 42, 42);
}

#nodob{
    background-color: rgb(50, 50, 237);
    width: 15vw;
    padding: 1.6vw;
    font-size: 1.2vw;
    border-radius: 40px;
    color: white;
    font-weight: 700;
}

#nodol:hover{
    border-top: 2px solid rgb(28, 28, 28);
}

#nodol img{
    width: 25vw;
}

#nodolf{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#nodor video{
    height: 70vh;
    width: 60vw;
}

#nodolf p{
    font-size: 1.2vw;
}

#flow{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    padding: 1vw;
    position: absolute;
    width: 10vw;
    border-radius: 50%;
    background-color: blue;
    color: white;
}

#page8{
    height: 100vh;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#flow{
    opacity: 0;
}

#back-video1{
    height: 270px;
    width: 100%;
    position: relative;
}

#back-video1 video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

#back-video2{
    height: 270px;
    width: 100%;
    position: relative;
}

#back-video2 video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

#meta{
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    right: 40%;
    height: 70vh;
    top: 20%;
    border-top: 1px solid rgb(88, 88, 88);
}

#sight{
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    right: 6%;
    height: 70vh;
    top: 20%;
    border-top: 1px solid rgb(88, 88, 88);
}

.tag h1{
    font-size: 2.5vw;
    font-weight: 400;
}

.tag p{
    font-size: 1.3vw;
    font-weight: 200;
}

#sight img{
    height: 2.7vw;
}

#page9{
    height: 70vh;
    margin-top: 20vh;
    border-top: 1px solid rgb(153, 150, 150);
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4vw 0;
    margin: 0 6vw;
}

#projectl{
    width: 35vw;
}

#projectl h1{
    font-size: 4.7vw;
}

#projectr{
    margin-left: vw;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 4vw;
}

#projectrf{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    border-bottom: 1px solid rgb(156, 152, 152);
    padding-bottom: 3vh;
}

#projectrf h3{
    font-size: 1.4vw;
    font-weight: 400;
}

#arrow{
    background-color: #404040;
    padding: 1vw 1.3vw;
    border-radius: 50%;
}

#projectrs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 10vh;
}

#projectrs h4{
    color: rgb(174, 167, 156);
    font-size: .9vw;
}

#email{
    border: 2px solid white;
    font-size: .9vw;
    padding: .4vw;
    border-radius: 20px;
}

#project{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10vh;
    width: 20vw;
   
}

#h4{
    color: rgb(174, 167, 156);
    font-size: .9vw;
}

#social{
    display: flex;
    align-items: center;
    gap: 1vw;
    flex-wrap:wrap;
}

.social{
    border: 1px solid white;
    padding: .4vw;
    border-radius: 20px;
    font-size: .8vw;
    cursor: pointer;
}

#part1b{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid rgb(153, 150, 150);
    padding: 4vw 0;
    margin: 0 6vw;
    height: 50vh;
}

#part1l{
    display: flex;
    align-items: flex-start;
    width: 26vw;
    justify-content: space-between;
}

#part1l h4{
    font-size: .8vw;
    color: rgb(99, 99, 99);
}

.part1obj{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 20vh;
}

.part1div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 15vh;
}

.part1div a{
    color: white;
    text-decoration: none;
}

#part1r{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 26vw;
    flex-direction: column;
    height: 30vh;
}

#part1r1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 15vh;
    flex-direction: column;
}

#part1r1 h4{
    font-size: 1vw;
    color: rgb(99, 99, 99);
}

#part1r1 h1{
    font-weight: 400;
    font-size:2.5vw;
}

#part1r2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 10vh;
}

#part1r2 a{
    color: white;
    text-decoration: none;
    font-size: 1.1vw;
    transition: all 1s;
}

#part1r2 div{
    display: flex;
    align-items:self-end;
    gap: 1vw;
}

#part2b{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    border-top: 1px solid rgb(153, 150, 150);
    padding: 2vw 0 4vw 0;
    margin: 0 6vw;
}

#part2b div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}

#part2b h4{
    font-size: 1vw;
    font-weight: 400;
}

#part1r2 a:hover{
    color: rgb(133, 129, 129);
}